<section class="container">
  <section class="head head2">
    <p class="text-login">Getting Started</p>
  </section>
  <section class="body">
    <section class="cols">
      <section class="col1 profile-icon-container">
        <form [formGroup]="form">
          <div class="logInIcon">
            <mat-icon>account_circle</mat-icon>
            <p>Log In</p>
          </div>
          <div
            [ngClass]="
              form.controls['email'].errors && form.controls['email'].touched
                ? 'required-red'
                : ''
            "
            class="main-container email"
          >
            <input
              formControlName="email"
              placeholder="Lorem@gmail.com"
              type="text"
              id="email_login"
            />
            <label for="email_login">Email</label>
            <p
              class="error-text"
              *ngIf="
          this.form.controls['email'].errors?.['required'] &&
          this.form.controls['email'].touched
        "
              [@fadeInOut]="this.form.controls['email'].errors?.['required'] &&
        this.form.controls['email'].touched"
            >
              Email required*
            </p>
            <p
              *ngIf="
            this.form.controls['email'].errors?.['email']  &&
            this.form.touched
          "
              [@fadeInOut]="
          this.form.controls['email'].errors?.['email']  &&
          this.form.touched
        "
              class="error-text"
            >
              Please introduce a valid email address
            </p>
          </div>
          <div
            [ngClass]="
              form.controls['password'].errors &&
              form.controls['password'].touched
                ? 'required-red'
                : ''
            "
            class="main-container email"
          >
            <input
              placeholder="xxxxxxxxxxx"
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
              type="text"
              id="password_login"
            />
            <label for="password_login">Password</label>
        
            <button
              class="hide"
              mat-icon-button
              matSuffix
              (click)="toggleHide()"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <p
            [@fadeInOut]="form.get('password').errors?.['required'] && form.get('password').touched"
            class="error-text"
            *ngIf="form.get('password').errors?.['required'] && form.get('password').touched"
          >
            Password is required*
          </p>
          </div>
          <a href="#" class="forgot">Forgot email or password?</a>
          <button
            class="button-global"
            mat-raised-button
            (click)="login()"
            [disabled]="!this.form.valid"
          >
            Log In
          </button>
          <p class="text-register">
            Already have an account or need to register?
          </p>
          <a (click)="navigateTo('/Register')" class="forgot createAccount"
            >Create a my MG Waste Account</a
          >
        </form>
      </section>
      <section class="col2 continue-as-guest">
        <div class="icon-text-holder">
          <mat-icon>person</mat-icon>
          <p class="text">Continue As Guest</p>
        </div>
        <div class="customer-invoice">
          <p>Please use your</p>
          <div
            class="main-selector"
            #dropdownContainer2
            (click)="toggleDropdown(2)"
            style="margin-left: 25px"
          >
            <input
              #selectorInput2
              placeholder="Select"
              type="text"
              value="Invoice Number"
              id="invoiceNumber"
              readonly
            />
            <mat-icon
              class="arrow"
              [ngClass]="{ 'arrow-up': isDropdownOpen === 2 }"
              matSuffix
            >
              arrow_drop_down
            </mat-icon>
            <div *ngIf="isDropdownOpen === 2" class="dropdown-content">
              <!-- Dropdown options -->
            </div>
          </div>
          <br />
        </div>
        <p class="description-select">
          to view your holiday schedule or pay your bill
        </p>
        <div class="form-container">
          <div class="main-container" style="margin-right: 25px">
            <input
              placeholder="3950 Nw 3rd St, Miami, Fl, 33126"
              type="text"
              id="addresssearch"
            />
            <label for="address">Address</label>
          </div>
          <button class="button-global" type="submit" mat-raised-button>
            Submit
          </button>
        </div>
        <p class="privacy-policy">
          Learn more about your rights on our
          <a href="#">Privacy Policy</a> page.
        </p>
        <img
          class="invoice-image"
          src="../../../../../assets/images/invoice.png"
          alt="Invoice-number-guide-jpg"
        />
      </section>
    </section>
  </section>
</section>
