<footer
  style="background-color: #024731"
  class="flex flex-col w-full px-96 py-14"
>
  <div>
    <img
      class="w-36"
      src="../../../assets/images/MOG WASTE REMOVAL.svg"
      alt="MG Waste Removal Logo"
    />
  </div>
  <nav class="w-full">
    <ul class="relative w-full justify-between flex mt-8">
      <li>
        <h2 class="text-white !font-['Max-Regular'] !font-bold text-base !m-0">
          Dumpster Sizes
        </h2>
        <ul>
          <li class="mt-4 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >10 Yard Dumpster</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >15 Yard Dumpster</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >20 Yard Dumpster</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >All Dumpsters</a
            >
          </li>
        </ul>
      </li>
      <li>
        <h2 class="text-white !font-['Max-Regular'] !font-bold text-base">
          Services
        </h2>
        <ul>
          <li class="mt-4 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >Temporary Dumpster</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >Permanent Dumpster</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >Residential Dumpster</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >Contractor Dumpster</a
            >
          </li>
        </ul>
      </li>
      <li>
        <h2 class="text-white !font-['Max-Regular'] !font-bold text-base">
          Helpful Links
        </h2>
        <ul>
          <li class="mt-4 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >Request a Quote</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >Schedule a Pickup</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >Contact Us</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >FAQs</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >Customer Reviews</a
            >
          </li>
        </ul>
      </li>
      <li>
        <h2 class="text-white !font-['Max-Regular'] !font-bold text-base">
          Our Company
        </h2>
        <ul>
          <li class="mt-4 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >About Us</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >Why MG?</a
            >
          </li>
          <li class="mt-3 overflow-hidden">
            <a
              href="#"
              class="link text-white font-['Max-Regular'] text-base hover-animation-underlined opacity-70 hover:opacity-100 transition-all relative"
              >Gallery</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <span class="w-full relative h-px bg-white mt-10"></span>
  <div class="footer-legal flex justify-between mt-10">
    <p class="text-white font-['Max-Regular'] text-sm">
      © 2024 MG Waste Removal Corp.
    </p>
    <ul class="legal-links flex">
      <li class="overflow-hidden">
        <a
          href="#"
          class="link text-white font-['Max-Regular'] text-sm relative"
          >Privacy Policy</a
        >
      </li>
      <li class="overflow-hidden ml-5">
        <a
          href="#"
          class="link text-white font-['Max-Regular'] text-sm relative"
          >Terms of Use</a
        >
      </li>
    </ul>
  </div>
</footer>
