<nav class="main-nav relative">
  <mat-toolbar class="sub-menu">
    <div class="col1">
      <div class="selector"></div>
    </div>
    <div class="col2">
      <a class="space text cursor-pointer" (click)="navigateTo('/Payment')"
        >Make a payment</a
      >
      <a class="space text" href="#">Request a Dumpster</a>
      <div class="space badge-icon">
        <mat-icon aria-hidden="false" matBadge="1" matBadgeColor="warn"
          >shopping_cart</mat-icon
        >
        <span class="cdk-visually-hidden">
          cart icon with overlaid badge showing the number of elements added
        </span>
      </div>
      <button
        [matMenuTriggerFor]="menuButton"
        class="space loginbtn flex items-center justify-center"
        mat-raised-button
      >
      <mat-icon class="!text-title_color ">menu</mat-icon>
      <mat-icon class="!text-title_color !m-0 ">account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-menu #menuButton="matMenu" class="mat-menu-customized">
    @if (!sessionActive)  {
      <div>
        <button (click)="navigateTo('/Login')" mat-menu-item>
          Log In
          <mat-icon class="!text-title_color">account_circle</mat-icon>
        </button>
      </div>
      <div>
        <button (click)="navigateTo('/Payment')" mat-menu-item>
          Continue as Guest
          <mat-icon class="!text-title_color">person</mat-icon>
        </button>
      </div>
      <div>
        <button (click)="navigateTo('/Register')" mat-menu-item>
          Create a MG Profile
          <mat-icon class="!text-title_color">person_add</mat-icon>
        </button>
      </div>
    } @else{
      <div>
        <button (click)="navigateTo('')" mat-menu-item>
          Account
          <mat-icon class="!text-title_color">account_circle</mat-icon>
        </button>
      </div>
      <div>
        <button (click)="navigateTo('')" mat-menu-item>
          Request a Pickup
          <mat-icon class="!text-title_color">calendar_today</mat-icon>
        </button>
      </div>
      <div>
        <button (click)="navigateTo('')" mat-menu-item>
          Orders
          <mat-icon class="!text-title_color">receipt</mat-icon>
        </button>
      </div>
      <div>
        <button (click)="logOut()" mat-menu-item>
          Sing Out
          <mat-icon class="!text-title_color">logout</mat-icon>
        </button>
      </div>
    }
    <div>
      <button (click)="navigateTo('#')" mat-menu-item>
        Support Center
        <mat-icon class="!text-title_color">help</mat-icon>
      </button>
    </div>
  </mat-menu>
</nav>
<nav class="main-menu">
  <mat-toolbar class="menu">
    <div class="col1">
      <img
        (click)="navigateTo('')"
        src="../../assets/images/Untitled design (18).svg"
        alt="MG-Waste-Removal.ico"
      />
    </div>
    <div class="col2 relative">
      @for (item of navigationItems; track $index){
      <a
        href="#"
        [ngClass]="{ active: activeItem === item }"
        (mouseenter)="setActiveContent(item.title)"
        (mouseleave)="checkMouseLeave($event)"
        >{{ item.title }}</a
      >
      }
    </div>
  </mat-toolbar>
</nav>
@if(activeOptions.length){
<section
  class="content-display"
  [class.active-section]="activeOptions.length > 0"
  (mouseleave)="checkMouseLeave($event)"
  [@fadeInOut]="activeOptions.length > 0"
>
  <div class="col-container">
    <div class="col1">
      <article class="card">
        <div class="description relative box-border">
          <span></span>
          @for (option of activeOptions; track $index){
          <p class="heading">{{ option.header }}</p>
          <p (mouseenter)="setActiveDumpster(option)" class="title">
            {{ option.name }}
          </p>
          }
        </div>
      </article>
    </div>
    @if (menu) { @if (activeSubElemnt) {
    <div class="col2">
      <img [src]="activeElements?.imageUrl" alt="{{ activeElements?.name }}" />
      <p class="title">{{ activeElements?.name }}</p>
      <p class="description">{{ activeElements?.description }}</p>
    </div>
    } } @if (activeSection === 'Dumpster Sizes') {
    <div class="col2">
      <img src="../../assets/images/6.svg" alt="Hook-Lift Dumpster Rental" />
      <p class="title">Hook-Lift Dumpster Rental in Miami Florida</p>
      <p class="description">
        Our Hook-Lift dumpsters are designed to effortlessly accommodate
        projects ranging from small to medium sizes
      </p>
    </div>
    } @if (activeSection === 'Dumpster Compactor Service') {
    <div class="col2">
      <img src="activeElements?.imageUrl" alt="test" />
      <p class="title">Prueba</p>
      <p class="description">probar aberracion</p>
    </div>
    } @if (activeSection === 'Areas We Serve') {
    <div class="col2">
      <img src="activeElements?.imageUrl" alt="prueba" />
      <p class="title">el ultimo por dios</p>
      <p class="description">aver si funciona</p>
    </div>
    }
  </div>
</section>
}
