<section class="mainbanner bg-primary">
  <section class="banner-section">
    <section class="slider">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img class="img" src="{{ slide.img }}" alt="" />
        </div>
      </ngx-slick-carousel>
    </section>
    <section class="text">
      <h1 class="header">
        Effortless Clean-up for <span class="hightlighted"> Any Project</span>
      </h1>
      <h2>
        Become a partner and see how <strong>MG Waste Removal Corp</strong
        ><br />
        can <strong>save you a significant amount</strong> every year.
      </h2>
      <button class="button" mat-raised-button>Reserve Now</button>
    </section>
  </section>
  <article class="service-request bg-primary">
    <div class="form-container">
      <p class="header">Request Your Waste Removal Service Today</p>
      <div class="input-text">
        <!-- Other input elements -->
        <div class="main-container" style="margin-right: 25px">
          <input
            placeholder="3950 Nw 3rd St, Miami, Fl, 33126"
            type="text"
            id="address"
          />
          <label for="address">Service Address</label>
        </div>
        <!-- First Dropdown -->
        <div
          class="main-selector"
          #dropdownContainer1
          (click)="toggleDropdown(1)"
        >
          <input
            #selectorInput1
            placeholder="Select"
            type="text"
            id="selectorx1"
            readonly
          />
          <label for="selectorx1">For home or business?</label>
          <mat-icon
            class="arrow"
            [ngClass]="{ 'arrow-up': isDropdownOpen === 1 }"
            matSuffix
          >
            arrow_drop_down
          </mat-icon>
          <div *ngIf="isDropdownOpen === 1" class="dropdown-content">
            <!-- Dropdown options -->
          </div>
        </div>

        <!-- Second Dropdown -->
        <div
          class="main-selector"
          #dropdownContainer2
          (click)="toggleDropdown(2)"
          style="margin-left: 25px"
        >
          <input
            #selectorInput2
            placeholder="Select"
            type="text"
            id="selectorx2"
            readonly
          />
          <label for="selectorx2">Business Type</label>
          <mat-icon
            class="arrow"
            [ngClass]="{ 'arrow-up': isDropdownOpen === 2 }"
            matSuffix
          >
            arrow_drop_down
          </mat-icon>
          <div *ngIf="isDropdownOpen === 2" class="dropdown-content">
            <!-- Dropdown options -->
          </div>
        </div>

        <button class="button !p-6" mat-raised-button>Get Started</button>
      </div>
    </div>
  </article>
</section>
<section class="relative bg-primary flex justify-center flex-col items-center pb-20">
  <ngx-slick-carousel
    class="services pl-96 pr-96 w-full box-border overflow-hidden bg-primary pt-5"
    #slickModal="slick-carousel"
    [config]="slideTwo"
  >
    @for (dumpster of dumpsters; track $index) {
    <article ngxSlickItem class="p-3 mr-5 overflow-visible">
      <figure
        class="grid justify-center justify-items-center items-center before:bg-backimg before:w-28 before:h-28 before:rounded-full before:absolute before:justify-center before:grid -mb-12"
      >
        <img
          class="h-24 w-24 object-cover z-10"
          src="{{ dumpster.Image }}"
          alt="{{ dumpster.alt }}"
        />
        <figcaption class="hidden">{{ dumpster.alt }}</figcaption>
      </figure>
      <div class="bg-white pt-16 rounded-xl px-8 pb-5 shadow-md">
        <h2 class="font !font-bold !text-base text-neutral-600 line-clamp-2">
          {{ dumpster.Title }}
        </h2>
        <p class="font-desc !text-sm text-neutral-600 line-clamp-6 !mb-5">
          {{ dumpster.Description }}
        </p>
        <a
          class="font-href !font-bold !text-sm text-neutral-600 line-clamp-1"
          href="#"
          >Rent a Hook-Lift Dumpster Now</a
        >
      </div>
    </article>
    }
  </ngx-slick-carousel>
  <button
    class="button mt-8 !bg-secondary !text-white !font-['Max-Regular'] !font-bold !text-base !p-6 !rounded-full"
    mat-raised-button
  >
    Rent A Dumpster
  </button>
</section>
<section
  class="relative account-section w-full flex flex-col items-center justify-center mb-40 mt-20"
>
  <div
    class="relative w-7/12 h-64 bg-primary flex justify-between p-10 overflow-hidden"
  >
    <div class="account-header z-10">
      <h2
        class="text-title_color !font-['MontserratBold'] !text-3xl !font-bold"
      >
        My MG Account & More
      </h2>
      <p class="font-['MontserratBold'] text-neutral-600">
        Register an account with us to...
      </p>
    </div>
    <button
      mat-raised-button
      class="relative signup-button !p-6 !rounded-full !bg-secondary !flex !justify-center !items-center !text-white !font-['Max-Regular'] !font-bold z-10"
    >
      Sign Up for My MG Account
    </button>
    <span
      class="absolute bg-backimg -right-1/4 -rotate-45 top-0 w-full h-96-per"
    ></span>
  </div>
  <ul
    class="absolute top-52 services-list flex bg-white shadow-lg px-16 !py-7 box-border justify-center items-center ml-36 -mt-16"
  >
    <li class="service-item mr-24 flex flex-col justify-center items-center">
      <img
        src="../../../assets/images/make a payment.svg"
        alt="Make a Payment"
        class="service-icon mb-5 w-20"
      />
      <p
        class="text-center text-base font-['MontserratBold'] font-bold text-title_color"
      >
        Make a <br />
        payment
      </p>
    </li>
    <li class="service-item mr-24 flex flex-col justify-center items-center">
      <img
        src="../../../assets/images/paperless billing.svg"
        alt="Paperless Billing"
        class="service-icon mb-5 w-20"
      />
      <p
        class="text-center text-base font-['MontserratBold'] font-bold text-title_color"
      >
        Paperless <br />
        billing
      </p>
    </li>
    <li class="service-item mr-24 flex flex-col justify-center items-center">
      <img
        src="../../../assets/images/enroll in autopay.svg"
        alt="Enroll in Autopay"
        class="service-icon mb-5 w-20"
      />
      <p
        class="text-center text-base font-['MontserratBold'] font-bold text-title_color"
      >
        Enroll in <br />
        Autopay
      </p>
    </li>
    <li class="service-item flex flex-col justify-center items-center">
      <img
        src="../../../assets/images/schedule.svg"
        alt="Pickup Schedule"
        class="service-icon mb-5 w-20"
      />
      <p
        class="text-center text-base font-['MontserratBold'] font-bold text-title_color"
      >
        Pickup <br />
        schedule
      </p>
    </li>
  </ul>
</section>
<section
  aria-labelledby="help-heading"
  class="w-full flex flex-col justify-center items-center bg-primary py-20"
>
  <h2
    id="help-heading"
    class="text-title_color !font-['MontserratBold'] !text-3xl !font-bold"
  >
    Need Help
  </h2>
  <p class="font-['MontserratBold'] text-gray-600 !mb-4">
    If you need assistance, feel free to use our live chat service or give us a
    call.
  </p>
  <button
    mat-raised-button
    class="relative signup-button !py-6 !px-9 !rounded-full !bg-secondary !flex !justify-center !items-center !text-white !font-['Max-Regular'] !font-bold z-10"
  >
    Live Chat
  </button>
</section>
<section
  class="newsletter relative flex flex-col justify-center items-center py-20"
>
  <div class="relative w-full px-98 flex justify-start">
    <h2 class="text-title_color !font-['MontserratBold'] !text-3xl !font-bold">
      Our Newsletter
    </h2>
  </div>
  <ngx-slick-carousel
    #slickModal="slick-carousel"
    [config]="slideThree"
    class="flex w-full overflow-hidden px-96 py-0"
  >
    @for (post of posts; track $index) {
    <article
      ngxSlickItem
      aria-labelledby="article-title"
      class="w-85 shadow-xl rounded-xl p-5 mr-3 ml-3"
    >
      <img
        src="{{ post.Image }}"
        alt="{{ post.alt }}"
        class="article-image object-contain w-full h-52 rounded-xl bg-primary"
      />
      <div class="article-info mt-2 w-full flex justify-between">
        <time
          class="font-['Max-Regular'] font-bold text-title_color text-sm"
          datetime="YYYY-MM-DD"
          >{{ post.Date }}</time
        >
        <span
          class="author-name font-['Max-Regular'] font-bold text-title_color text-sm"
          >{{ post.Author }}</span
        >
      </div>
      <h2
        class="!mt-3 !font-['Max-Regular'] !font-bold text-gray-600 !text-sm !leading-5 line-clamp-2"
        id="article-title"
      >
        {{ post.Title }}
      </h2>
      <p
        class="article-content !font-['Max-Regular'] text-gray-600 text-sm !leading-4 line-clamp-5 !mb-5"
      >
        {{ post.Description }}
      </p>
      <a
        href="#"
        class="!font-['Max-Regular'] font-bold text-secondary underline"
        >Read More</a
      >
    </article>
    }
  </ngx-slick-carousel>
  <button
    class="button mt-8 !bg-secondary !text-white !font-['Max-Regular'] !font-bold !text-base !p-6 !rounded-full"
    mat-raised-button
  >
    Subscribe
  </button>
</section>
<section
  aria-labelledby="review-heading"
  class="w-full flex justify-between items-start bg-primary py-20 p-96"
>
  <div>
    <h2
      id="review-heading"
      class="text-title_color !font-['MontserratBold'] !text-3xl !font-bold !mb-5"
    >
      We are always looking for feedback
    </h2>
    <p class="font-['MontserratBold'] text-gray-600 !mb-5">
      Help us how improve our services.
    </p>
    <button
      mat-raised-button
      class="relative signup-button !py-6 !px-9 !rounded-full !bg-secondary !flex !justify-center !items-center !text-white !font-['Max-Regular'] !font-bold z-10"
    >
      Leaves Us A Review
    </button>
  </div>
  <div><img class="rounded-xl w-44" src="../../../assets/images/qr contact code (150 x 150 px).jpg" alt="Qr code review"></div>
</section>
