@import "../../../../../assets/shared/variables";
.container {
  position: relative;
  max-width: 100%;
  background-color: #f8f8f2;
  .head {
    padding: 0 calc((100% - 1140px) / 2) !important;
    position: relative;
    height: 12.5rem;
    display: flex;
    font-family: "Maax-Black", Arial, sans-serif !important;
    justify-content: flex-start;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      background-image: url("../../../../../assets/images/banner.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      left: 0;
      top: 0;
      height: 100%;
      margin: 0 !important;
      padding: 0 !important;
    }
   
    .text-login {
      position: absolute;
      letter-spacing: -0.5px;
      z-index: 2;
      font-size: 4rem;
      color: black;
      font-family: "DosisExtraBold"!important;
    }
  }
  .head2 {
    margin-bottom: 1.5rem;
  }
  .body {
    position: relative;
    margin: 0 calc((100% - 1140px) / 2) !important;
    .text-head-body {
      position: relative;
      font-size: 1rem;
      margin: 1.5rem 0 1.5rem 0 !important;
      color: $plain-color;
      font-weight: bold;
    }
    .cols {
      position: relative;
      display: flex;
      width: 100%;
      padding-bottom: 1.5rem !important;
      height: 100%;
      align-items: flex-start;
      .col1 {
        position: relative;
        background-color: white;
        padding: 3rem 1.5rem;
        display: flex;
        width: 29%;
        justify-content: flex-start;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        .text-register {
          font-size: 0.95rem;
          text-decoration: none;
          color: $plain-color;
          span {
            color: $primary-color;
          }
          a {
            text-decoration: none;
            color: $primary-color;
            cursor: pointer;
          }
        }
        .email {
          margin-bottom: 1.2rem;
          width: 100%;
          input {
            width: 100%;
          }
        }
        .forgot {
          font-size: 0.95rem;
          text-decoration: none;
          color: $primary-color;
          font-weight: bold;
        }
        .button-global {
          margin: 1rem 0;
          width: 100%;
        }
        .createAccount {
          margin-top: 0.5rem !important;
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          :nth-child(1) {
            width: 35%;
          }
          :nth-child(2) {
            width: 55% !important;
          }
        }
      }
      .col2 {
        position: relative;
        margin-left: 2rem;
        box-sizing: border-box;
        width: calc(71% - 2rem);
        height: auto;
        .text {
          position: relative;
          font-size: 1.2rem;
          color: $plain-color;
          font-weight: bold;
          margin-bottom: 1.2rem !important;
        }
        ul {
          padding-left: 1rem;
          li {
            a {
              text-decoration: none;
              font-size: 0.95rem;
              letter-spacing: 0.04rem;
              color: $plain-color;
            }
            margin-bottom: 0.5rem;
          }
        }
        .account-features {
          background-color: white;
          padding: 1.5rem;
          .checkbox-container {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            .custom-checkbox {
              display: inline-block;
              position: relative;
              height: 20px;
              padding-left: 35px; // Space for the custom checkmark
              cursor: default;
              user-select: none;
              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
                cursor: default;
              }
              .checkmark {
                position: absolute;
                top: 0;
                
                left: 0;
                height: 15px;
                width: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                border: 2px solid $primary-color;
                border-radius: 4px;
                transition: all ease-in-out 0.1s;
                cursor: default;
                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                  width: 3px;
                  height: 8px;
                  border: solid white;
                  border-width: 0 3px 3px 0;
                  transform: rotate(45deg);
                  transition: all ease-in-out 0.1s;
                }
              }

              input:checked ~ .checkmark {
                background-color: $primary-color;
                transition: all ease-in-out 0.1s;

                .text-checkbox {
                  color: white;
                }
                &:after {
                  display: block;
                }
              }

              // &:hover input ~ .checkmark {
              //   background-color: $primary-color;
              //   transition: all ease-in-out 0.1s;
              // }
            }
            .text-checkbox {
              font-size: 1rem;
              color: rgba(0, 0, 0, 0.301);
              margin: 0 !important;
            }
          }
        }
        .second-box {
          margin-top: 2rem;
        }
      }
    }
  }
}

.text-checkbox-checked {
  color: $plain-color !important;
}
.hide{
  position: absolute;
  right: 0;
  color: rgba(0, 0, 0, 0.534);
  background-color: none!important;
  &:hover{
    background-color: none!important;
  }
}